/*snoo replacement*/
a.thumbnail.self.may-blank.loggedin{
background-image:url(%%snoo-onside%%) !important;
background-position: 0px 0px !important;
}

/*reports*/
.report-reason{
color:white;
}

/*header area*/
.tabmenu{
margin-top:111px;
margin-left:68px;
background:none;
color:rgb(204,204,204);
}
.tabmenu li a, .tabmenu li a:hover{
background-color: rgba(0,0,0,0);
color:rgb(204,204,204);
}

#sr-header-area {
			opacity: 0.25;
			height: 18px;
			background-color: #333;
			border-bottom: 1px solid #333;

		}

#sr-header-area:hover {
	opacity: 90;
}

#sr-header-area a {
	color: #C4C4C4;
	font-family: Verdana, Arial, sans-serif;
}

	#sr-header-area a:hover {
		color: #7CA9FF; 
		text-decoration: none;
	}

#sr-more-link {
	position: absolute;
	background-color: #333;
	color: #C4C4C4;
}

.dropdown.srdrop .selected {background-image: none;}
	.dropdown.srdrop .selected:after {content: "?";}
.sr-bar .separator {color: #333;}

#sr-header-area .width-clip .dropdown.srdrop .selected.title {
	color: #C4C4C4;
	font-size: 9px;
	font-weight: normal;
	font-family: Verdana, Arial, sans-serif;
	padding-right: 3px;
}

	#sr-header-area .width-clip .dropdown.srdrop .selected.title:hover {
		color: #5b92fa;
	}

#sr-header-area .drop-choices a.choice {
	color: #333 !important;
}

 #sr-header-area .drop-choices a.choice:hover {
	background-color: #5b92fa;
	color: #fff !important;
 }		

 #header {
			height: 148px;
			background: black url(%%headerimg%%) no-repeat fixed 50% 0%;
			border-bottom: 0px solid;
			overflow: visible !important;
		}
 #header-img{
 display:none;
 }
 #header-bottom-right {
			position: absolute;
			top: 119px !important;
			right: 0px;
			padding: 8px 15px 7px 15px;
			width: auto;
			height: 12px;
			background-color: black;
			color:rgb(204,204,204);
		}
		
#header-bottom-right a{
	font-weight:bold;
}		
		
#header-bottom-right #userbarToggle{
border-radius:0 !important;
border-right: 0px solid black !important;
background-color:black !important;
}
 .pagename a {
				display: block;
				visibility: visible !important;
				position: absolute;
				left: 8px;
				z-index: 99;
				background-image: url(%%monolith-snoo-small%%);
				background-position: 0px 0px;
				background-repeat: no-repeat;
				text-indent: -9999px;
				top:10px;
				width:100px;
				height:110px;
			}



				.pagename {visibility: hidden;}

/*Comment area */

.sitetable[id$=siteTable_t3_2hop7z] .down{
display:none;
}

/*spoiler setup*/
a[href$="/spoiler"], .commentarea a[href$="/spoiler"]{
display:inline-block;
background:none repeat scroll 0 0 rgb(34,34,34) !important;
color: rgb(34,34,34) !important;
cursor: default;
padding: 3px;
border:none;
font-weight:normal;
}
a[href$="/spoiler"], .commentarea a[href$="/spoiler"]:hover{
background:rgb(34,34,34);
color:rgb(209,209,209) !important;
}
a[href$="/spoiler"]:before{
color:rgb(209,209,209);
background:rgb(34,34,34);
white-space: pre-wrap;
content:" [SPOILER] ";
}

a[href$="/spoiler"]:after{
background:rgb(34,34,34);
white-space: pre-wrap;
content:" ";
}
/*sidebar*/

.side{
	background:rgba(19,19,19,.8);
        margin:0 0 0 0;
        padding-right:5px;
	/*color:rgb(204,204,204);*/
	padding-left:.7em;
       /* width:15.8%;*/
}

#search input[type=text]{
background-color: black;
color:rgb(204,204,204);
}

.sidebox.submit.submit-link a, .sidebox.submit.submit-text a, .sidebox.create .morelink a{
background-color:#232323 !important;
color:#ADADAD!important;
border: solid 1px #ADADAD;
}

.sidebox.submit.submit-link a:hover, .sidebox.submit.submit-text a:hover, .sidebox.create .morelink a:hover{
text-decoration:none;
color:#CDCDCD !important;
border: solid 1px #ADADAD;
}

.titlebox form.flairtoggle
{
color:rgb(204,204,204) !important;
background:black !important;
}
.side a:hover{
text-decoration:underline;
}
.nub{
display:none;
}

 .domain,  .domain a, .domain span,  .tagline,  .entry .buttons li a,  .tagline span{
color:rgb(204,204,204) !important;
}

/*sidebar buttons*/
.morelink{
border:solid 0px black !important;
}

.linkinfo{
background:black !important;
color:rgb(204,204,204) !important;
}

/*sidebar image*/
a[href="/sidebar"]:after { content: url(%%its-here%%) }
body { background: rgb(34,34,34); 
background-image:url(%%background%%)
/*linear-gradient( to left, rgb(0,0,0), rgb(34,34,34) 37% );*/
}

/*sidebar mod tools*/
a.choice{
background-color:rgb(19,19,19);
color:67B3DF;
}
/*sidebar reddit customization*/
.titlebox .word { display:none }
.titlebox .number:after { content: " Orcs"; }
.titlebox .users-online span.number:after { content: " Branded Orcs"; }
.redditname a{
color:rgb(204,204,204) !important;
}

.titlebox .bottom {
font-size: 0px;
color: #FFF;
}
.titlebox .bottom:before {
font-size: 10px;
color: gray;
content: " ";
}
.titlebox .bottom .age {
font-size: 10px;
color: gray;
}

.titlebox .subscribers, .titlebox .number, .titlebox .users-online, #label-CoGyg {
color: rgb(209,209,209) !important;
}



/*usertext area*/
.usertext-body{
background: rgba(100,35,35,0) !important;
color: rgb(204,204,100) !important;
}

div.titlebox .md h2{
background-color:#131313 !important;
color:#ADADAD!important;
border: solid 1px #369;
padding: 4px 4px 4px 4px;
margin-left:5px;
margin-right:5px;
margin-bottom:10px;
margin-top:20px;
text-align:center;
font-size:1.35em;
}

div.titlebox .md h3{
background-color:#232323 !important;
color:#ADADAD!important;
border: solid 1px #ADADAD;
padding: 4px 4px 4px 4px;
margin-left:10px;
margin-right:5px;
margin-bottom:7px;
font-weight:normal;
width:90%;
}

div.titlebox .md h3+ul{
max-height:0;
overflow:hidden;
margin-top:0;
margin-bottom:0;
padding:0;
-webkit-transition:max-hieght 900ms ease-in-out;
transition:max-height 900ms ease-in-out;
}

.side .titlebox .md h3:hover+ul, .side .titlebox .md h3+ul:hover{
max-height:500px;
}

div.titlebox .md h3 a{
color:#67B3Df!important;
}

div.titlebox .md h3:hover a{
color:#CDCDCD!important;
text-decoration:none;
}

div.titlebox .md h3 a:visited{
color:#ADADAD;
}

/*recently viewed links area*/
.reddit-link.even.first-half.thing, .reddit-link.even.second-half.thing, .reddit-link.odd.first-half.thing, .reddit-link.odd.second-half.thing{
width:100% !important;
background-color:#131313 !important;
color:#ADADAD!important;
}

.reddit-link.even.first-half.thing a, .reddit-link.even.second-half.thing a, .reddit-link.odd.first-half.thing a, .reddit-link.odd.second-half.thing a{
color:#ADADAD!important;
}

.reddit-link.even.first-half.thing a:hover, .thing .title:hover, .reddit-link.even.second-half.thing a:hover, .reddit-link.odd.first-half.thing a:hover, .reddit-link.odd.second-half.thing a:hover{
text-decoration:none;
color:#CDCDCD!important;
}

/*Thing CSS, used for posts */
.sitetable.linklisting{
margin-right:320px;
}

.sitetable .sitetable.linklisting{
margin-right:0;
}
.sitetable.linklisting .commentarea{
margin-right:0px;
}
.thing.noncollapsed.comment{
width:auto !important;

}

.thing .title{
color:#67B3DF;
}

.thing .title:visited{
color:#CDCDCD;
}

.link .usertext .md{
background-color: rgba(250,250,250) !important;
background: transparent !important;
}
 .thing
{
background-color:rgba(19,19,19,.8) !important;
color:#d3d3d3 !important;
/*margin-right:320px;*/
border:solid 1px #1D1D1D;
}

.thing.comment{
background-color:rgba(19,19,19,.8) !important;
color:#d3d3d3 !important;
/*margin-right:320px;*/
border:solid 1px #1D1D1D;
}
/*Flair Customization*/

.link flair-mod .linkflairlabel, .flair .flair-mod { background: #4686F6; color: rgb(204,204,204); }

.link{
padding-left:0px !important;
}

.flair-blackandblue{
background:black;
color:blue;
}

.linkinfo{
background:black !important;
color:rgb(204,204,204) !important;
}

.flair-mod{
background:#4686F6;
color:rgb(204,204,204);
}

/* RES Customizations */
.RES-keyNav-activeElement.lcTagged, .entry.unvoted.RES-keyNav-activeElement{
	background: transparent !important;
	color:rgb(204,204,204) !important;
 border-radius: .2em !important;
}

/*Ugly, Ugly hack to get around some of the RES overrides*/
.res-commentBoxes  .comment, .res-commentBoxes  .comment .comment, .res-commentBoxes  .comment .comment .comment, .res-commentBoxes  .comment .comment .comment .comment, .res-commentBoxes  .comment .comment .comment .comment .comment, .res-commentBoxes  .comment .comment .comment .comment .comment .comment, .res-commentBoxes  .comment .comment .comment .comment .comment .comment .comment, .res-commentBoxes  .comment .comment .comment .comment .comment .comment .comment .comment, .res-commentBoxes  .comment .comment .comment .comment .comment .comment .comment .comment .comment, .res-commentBoxes  .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
background:#131313 !important;
color:rgb(204,204,204) !important;
}

.RES-keyNav-activeElement, .commentarea .RES-keyNav-activeElement .md, .commentarea .RES-keyNav-activeElement.entry .noncollapsed{
background: transparent !important;
}

.md, .usertext-edit textarea{
color: #ADADAD !important;
}

.entry.RES-keyNav-activeElement, .RES-keyNav-activeElement .expando .usertext{
background-color:transparent !important;
color:rgb(250,204,204);
}

.RES-keyNav-activeElement, .commentarea .RES-keyNav-activeElement .md{
color:black;
}

.res-CommentBoxes .comment .thing{
 border:none;
}

.NERPageMarker, .neverEndingReddit{
background:black !important;
color:rgb(204,204,204) !important;
margin-right:320px !important;
margin: 0 !important;
padding-left: 10px inherit 10px inherit !important;
}

#inner-editor{
color: black !important;
}
